.table {
  //display: flex;
  //flex-direction: column;

  .head {
    //display: flex;
    background-color: green;
  }

    .row {
      //display: flex;
      //flex-direction: column;
    }
}

@media (max-width: 760px) {
  .row {
    display: flex;
    flex-direction: column;
  }
}