.table {
	color: var(--color-light-100);
	border-collapse: collapse;

	.head {
		font-weight: var(--font-weight-bold);
		font-size: var(--font-size-s);
		line-height: var(--line-height-m);

		.tr {
			height: 2.25px;
			background-color: var(--color-dark-500);
		}
	}

	.tr {
		height: 61px;
		background-color: var(--color-dark-900);
	}

	.th {
		padding: 6px 29px;

		.icon {
			color: var(--color-light-100);
			padding-left: 4px;
		}
	}

	.td {
		padding: 6px 29px;
		border-bottom: solid 1px var(--color-dark-500);
		font-weight: var(--font-weight-regular);
		font-size: var(--font-size-s);
		line-height: var(--line-height-m);

		div {
			display: flex;
			align-items: center;

			img {
				padding-right: 10px;
			}
		}
	}
}

@media (max-width: 760px) {
	//.row {
	//  display: flex;
	//  flex-direction: column;
	//}
}
