.label {
  font-family: inherit;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  color: var(--color-dark-100);

  display: flex;
  flex-direction: column;

  width: 284px;

  .inputWrapper {
    display: flex;
    align-items: center;

    .iconStart {
      display: flex;
      position: absolute;
      left: 12px;
      color: var(--color-dark-100);
      margin-right: 10px;

      &:has(~ .input:active) {
        color: var(--color-light-100);
      }
    }

    .iconEnd {
      display: flex;
      margin-left: -30px;
      color: var(--color-light-100);

      &:has(~ .input:active) {
        color: var(--color-light-100);
      }
    }

    .input {
      all: unset;
      cursor: auto;

      width: 284px;
      height: 36px;

      box-sizing: border-box;
      padding: 6px 12px;
      border-style: solid;
      border-width: 1px;
      font-size: var(--font-size-m);
      border-radius: 2px;
      background: none;
      //color: var(--color-light-100);

      &.fullWidth {
        width: 100%;
      }
    }

    .search,
    .search:disabled {
      padding: 6px 36px;
    }

    .search ~ .iconEnd {
        visibility: hidden;
    }

    .search {
      &:active ~ .iconEnd {
        visibility: visible;
      }
    }


    .default,
    .password,
    .search {
      border-color: var(--color-dark-300);
      color: var(--color-dark-100);

      &:hover {
        border-color: var(--color-dark-100);
        background-color: var(--color-dark-700);
      }

      &:focus {
        border-color: var(--color-info-700);
        color: var(--color-dark-100);
      }

      &:active {
        border-color: var(--color-light-100);
        color: var(--color-light-100);
      }

      &.error {
        border-color: var(--color-danger-300);
        color: var(--color-danger-300);
      }


    }
  }
}

.paddings {
  padding: 6px 36px !important;
}


.disabled {
  color: var(--color-dark-300);

  .input {
    border-color: var(--color-dark-300);

    &::placeholder {
      color: var(--color-dark-300);
    }
  }

  .inputWrapper {
     .iconEnd {
      color: var(--color-dark-300);
    }

     .iconStart {
      color: var(--color-dark-300)!important;
    }
  }
}


.errorMessage {
  color: var(--color-danger-300);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-xs);
  line-height: var(--line-height-m);
}
