.label {
  font-family: inherit;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  color: var(--color-dark-100);

  display: flex;
  flex-direction: column;

  .input {
    all: unset;
    cursor: auto;

    width: 284px;
    height: 36px;

    box-sizing: border-box;
    padding: 6px 12px;
    border: solid 1px;
    font-size: var(--font-size-m);
    border-radius: 2px;
    background: none;

    &.icon {
      background: url('../../../assets/eye_icon_white.svg') no-repeat 96%;
      background-size: 20px 20px;
    }
  }
}

.disabled {
  color: var(--color-dark-300);

  .input {
    border-color: var(--color-dark-300);

    &.icon {
      background: url('../../../assets/eye_icon_dark.svg') no-repeat 96%;
      background-size: 20px 20px;
    }

    &::placeholder {
      color: var(--color-dark-300);
    }
  }
}

.default,
.password {
  border-color: var(--color-dark-300);
  color: var(--color-dark-100);

  &:hover {
    border-color: var(--color-dark-100);
    background-color: var(--color-dark-700);
  }

  &:focus {
    border-color: var(--color-info-700);
    color: var(--color-dark-100);
  }

  &:active {
    border-color: var(--color-light-100);
    color: var(--color-light-100);
  }

  &.error {
    border-color: var(--color-danger-300);
    color: var(--color-danger-300);
  }
}

//.icon {
//  width: 20px;
//  height: 20px;
//  color: var(--color-light-100);
//}

.fullWidth {
  width: 100%;
}

//.eye {
//  background: url('../../../assets/bodyeyeopticalorganviewvisual_123100.svg') no-repeat 7px 7px;
//}
